@charset "UTF-8";
#home_body {
  height: 100vh;
}

#home_header {
  text-align: center;
}

#home_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}
#home_main #myself {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
#home_main #myself img {
  max-width: 300px;
  border: 1px solid #F7AEF8;
  border-radius: 30px; /* 设置边框的圆角为?像素 */
  box-shadow: 0px 0px 20px #F4F4ED; /* 设置边框的阴影效果 */
}
#home_main .btn {
  background: linear-gradient(to left top, rgba(128, 147, 241, 0.9), rgba(247, 174, 248, 0.9));
  display: inline-block;
  padding: 10px 20px;
  background-color: #F7AEF8; /* 按鈕背景顏色 */
  color: purple; /* 按鈕文字顏色 */
  text-align: center;
  text-decoration: none;
  border-radius: 10px; /* 圓角 */
  font-size: 16px;
}
#home_main .btn:hover {
  background-color: #72DDF7; /* 滑鼠懸停時的顏色 */
  color: black;
}

body {
  background: linear-gradient(115deg, #B388EB 10%, #72DDF7 90%);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header h1 {
  margin: 0px;
  color: #13001b;
}
.header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10px 0 0 0;
  gap: 13px;
}
.header nav a {
  text-decoration: none;
  color: #621abf;
}
.header nav :hover {
  color: white;
}

main {
  justify-content: center;
}
main .container {
  background: #F4F4ED;
  height: auto;
  padding: 10px 40px 15px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 30px;
  border-radius: 10px;
}
main .container h2, main .container h3 {
  text-align: center;
  background: -webkit-linear-gradient(right, #f894e1, #13001b, #f894e1, #13001b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main #skill nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 75px;
}
main #skill nav img {
  width: 55px;
}
main #skill nav li {
  margin: 0;
  list-style: none;
  text-align: center;
}
main #experience {
  /* The actual timeline (the vertical ruler) */
  /* The actual timeline (the vertical ruler) */
  /* ex-container around content */
  /* The circles on the timeline */
  /* Place the container to the left */
  /* Place the container to the right */
  /* Add arrows to the left container (pointing right) */
  /* Add arrows to the right container (pointing left) */
  /* Fix the circle for containers on the right side */
}
main #experience .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
main #experience .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
main #experience .ex-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
main #experience .content {
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
}
main #experience .ex-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #F7AEF8;
  top: 24px;
  border-radius: 50%;
  z-index: 1;
}
main #experience .left {
  left: 0;
}
main #experience .right {
  left: 50%;
}
main #experience .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 24px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #B388EB;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
main #experience .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 24px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #B388EB;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
main #experience .right::after {
  left: -16px;
}
main #contact {
  height: 60vh;
}
main #contact form .form-row {
  display: flex;
  margin: 32px 0;
}
main #contact form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
main #contact form .form-row .textarea {
  height: 70px;
}
main #contact .input-data input, main #contact .textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
main #contact .input-data input:focus ~ label, main #contact .textarea textarea:focus ~ label,
main #contact .input-data input:valid ~ label, main #contact .textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
main #contact .textarea textarea {
  resize: none;
  padding-top: 10px;
}
main #contact .input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
main #contact .textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}
main #contact .input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
main #contact .input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
main #contact .input-data input:focus ~ .underline:before,
main #contact .input-data input:valid ~ .underline:before,
main #contact .textarea textarea:focus ~ .underline:before,
main #contact .textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}
main #contact .form-row .submit-btn {
  display: flex;
  justify-content: center;
}
main #contact .submit-btn .input-data {
  overflow: hidden;
  height: 45px !important;
  width: 25% !important;
}
main #contact .submit-btn .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
main #contact .submit-btn .input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}
main .back-to-top-btn {
  position: sticky;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0 40px 0 0;
}

* {
  box-sizing: border-box;
}
* .en_word {
  font-family: Bradley Hand, cursive;
}
* .zh_word {
  font-family: cwTeXFangSong, serif;
}

/*# sourceMappingURL=styles.css.map */
