@use './variables';


#home_body {
      height: auto;
      }

#home_header {
      text-align: center;
}

#home_main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 30px;
      box-sizing: border-box;
      
      #myself {

            img {
                  max-width: 300px;
                  border: 1px solid $rich-brilliant-lavender-color;
                  border-radius: 30px;  /* 设置边框的圆角为?像素 */
                  box-shadow: 0px 0px 20px $rice-color ;  /* 设置边框的阴影效果 */
            }
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
      }
      
      .btn {
            background: 
            linear-gradient(to left top, rgb(128, 147, 241, 90%), rgb(247, 174, 248, 90%));

            display: inline-block;
            padding: 10px 20px;
            background-color: $rich-brilliant-lavender-color; /* 按鈕背景顏色 */
            color: purple; /* 按鈕文字顏色 */
            text-align: center;
            text-decoration: none;
            border-radius: 10px; /* 圓角 */
            font-size: 16px;              
      }
            
      .btn:hover {
      background-color: #72DDF7; /* 滑鼠懸停時的顏色 */
      color: black;
      }      

}