@use './variables';

#home_main {
      text-align: center;
      margin: 50px;

      #home_title {
            background: $rich-brilliant-lavender-color;
            box-shadow: 0 0 20px 0 rgba($color: #B388EB, $alpha: 1.0), inset 0 0 20px 0 rgba($color: #B388EB, $alpha: 1.0); /* 虛化外框 */
            padding: 20px 0 20px 0;
            h1 {
                  background: $rich-brilliant-lavender-color;
                  margin: 10px 50px ;
            }
      }

      .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #8093F1; /* 按鈕背景顏色 */
            color: white; /* 按鈕文字顏色 */
            text-align: center;
            text-decoration: none;
            border-radius: 10px; /* 圓角 */
            font-size: 16px;
        }
        
        .btn:hover {
            background-color: #72DDF7; /* 滑鼠懸停時的顏色 */
            color: black;
        }
}