@import './variables';
@import './home.scss';
@import './index.scss';


* {
      box-sizing: border-box;
      
      .en_word {
            font-family: $main-font-style;
      }
      .zh_word {
            font-family: $main-font-style-zh;
      }

}